<?xml version="1.0" encoding="ISO-8859-1"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="mxtronotifications" cl="\\Tronet\\Trosofortueberweisung\\Application\\Controller\\Admin\\TrosofortueberweisungOrderNotificationController"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="TRONET_MENU_HEAD">
        <MAINMENU id="mxtrosofortueberweisung">
            <SUBMENU id="mxtrosofortueberweisung_dashboard" cl="\Tronet\Trosofortueberweisung\Application\Controller\Admin\TrosofortueberweisungController" list="\Tronet\Trosofortueberweisung\Application\Controller\Admin\TrosofortueberweisungListController">
                <TAB id="mxtrosofortueberweisung_main" cl="\\Tronet\\Trosofortueberweisung\\Application\\Controller\\Admin\\TrosofortueberweisungMainController" list="\Tronet\Trosofortueberweisung\Application\Controller\Admin\TrosofortueberweisungListController"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>